@using DocumentProcessing.ViewModels
@using Microsoft.AspNetCore.Identity
@model DocumentProcessing.ViewModels.DocumentViewModel
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "Ворид намудан";
}
@{
    var user = await UserManager.GetUserAsync(User);
    var admin = await UserManager.IsInRoleAsync(user, "Admin");
    var manager = await UserManager.IsInRoleAsync(user, "Manager");
    bool isAdminOrManager = admin || manager;
}

<h1>Ворид намудан</h1>

<h4></h4>
<hr/>

<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="RecipientId" value="@user.Id"/>
            <input type="hidden" asp-for="Id"/>

            <div class="form-group">
                <label asp-for="OwnerId" class="control-label"></label>
                <select class="form-control" asp-for="OwnerId"
                        asp-items="ViewBag.Owners">
                </select>
            </div>
            <div class="form-group" id="applicantType">
                <div class="form-check-inline">
                    <input class="form-check-input" id="existingApplicant" asp-for="ApplicantType" type="radio" value="@ApplicantType.Existing"/>
                    <label class="form-check-label" for="existingApplicant">
                        аз руйхат
                    </label>
                </div>
                <div class="form-check-inline">
                    <input class="form-check-input" id="newApplicant" asp-for="ApplicantType" type="radio" value="@ApplicantType.New"/>
                    <label class="form-check-label" for="newApplicant">
                        Ариза/дигар
                    </label>
                </div>
            </div>

            <div class="form-group"
                 id="existingApplicantGroup"
                 style="display: @(Model.ApplicantType == ApplicantType.Existing ? null : "none")">
                <label asp-for="ApplicantId" class="control-label"></label>
                <select class="form-control selectpicker"
                        title="Ҷустуҷу..."
                        asp-for="ApplicantId"
                        data-show-subtext="true"
                        data-live-search="true"
                        asp-items="ViewBag.Applicants">
                    <option></option>
                </select>
            </div>

            <div class="form-group" id="newApplicantGroup"
                 style="display: @(Model.ApplicantType == ApplicantType.New ? null : "none")">
                <label asp-for="ApplicantName" class="control-label"></label>
                <input asp-for="ApplicantName" class="form-control"/>
                <span asp-validation-for="ApplicantName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label class="control-label" asp-for="EntryNumber"></label>
                <input asp-for="EntryNumber" class="form-control"/>
                <span asp-validation-for="EntryNumber" class="text-danger"></span>
            </div>

            <div class="form-group form-row">
                <div class="col-md-8">
                    <label asp-for="PurposeId" class="control-label"></label>
                    <select class="form-control" asp-for="PurposeId"
                            asp-items="ViewBag.Purposes">
                        <option></option>
                    </select>
                </div>
                <div class="col-md-4">
                    @foreach (var purpose in ViewBag.Purposes.Items)
                    {
                        <input type="hidden" value="@purpose.Character" id="hidden_@purpose.Id"/>
                    }
                    <label asp-for="PurposeId" class="control-label">Ҳарфи муроҷиат</label>
                    <input class="form-control" readonly="readonly" id="purposeCharacter" />
                </div>
            </div>
            <div class="form-group form-row">
                <div class="col-md-4">
                    <label class="control-label" asp-for="Appointment.Character"></label>
                    <select class="form-control" asp-for="Appointment.Character" asp-items="Html.GetEnumSelectList<AppointmentCharacters>()">
                        <option selected="selected" value=""></option>
                    </select>
                    <span asp-validation-for="Appointment.Character" class="text-danger"></span>
                </div>
                <div class="col-md-8">
                    <label asp-for="Appointment.Number" class="control-label"></label>
                    <input asp-for="Appointment.Number" class="form-control"/>
                    <span asp-validation-for="Appointment.Number" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="StatusId" class="control-label"></label>
                <select class="form-control" asp-for="StatusId"
                        disabled="@(isAdminOrManager ? null : "disabled")"
                        asp-items="ViewBag.Statuses">
                    <option></option>
                </select>
            </div>

            <div class="form-group">
                <p>Cкан</p>
                <input type="file" class="form-control-file" disabled="@(isAdminOrManager ? null : "disabled")" name="files" multiple>

                <div id="progress" class="progress" style="display: none;margin-top: 15px">
                    <div class="progress-bar" id="bar" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
                </div>

            </div>

            <div class="form-control-file" style="padding-top: 15px">
                <input type="submit" id="saveButton" value="Илова намудан" class="btn btn-primary"/>
                <a asp-action="Index" class="btn btn-default">Бекор</a>
            </div>
        </form>
    </div>
    <div class="col-md-4"></div>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
        await Html.RenderPartialAsync("_DocumentScriptsPartial");
    }
}