@using DocumentProcessing.ViewModels
@using Microsoft.AspNetCore.Identity
@model DocumentProcessing.ViewModels.DocumentViewModel
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "Иваз намудан";
}
@{
    var user = await UserManager.GetUserAsync(User);
    var admin = await UserManager.IsInRoleAsync(user, "Admin");
    var manager = await UserManager.IsInRoleAsync(user, "Manager");
    bool isAdminOrManager = admin || manager;
}

<h1>Иваз намудан</h1>

<h4></h4>
<hr/>

<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="RecipientId" />
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="EntryNumber" />

            <div class="form-group">
                <label asp-for="OwnerId" class="control-label"></label>
                <select class="form-control" asp-for="OwnerId"
                        asp-items="ViewBag.Owners"></select>
            </div>
            <div class="form-group" id="applicantType">
                <div class="form-check-inline">
                    <input class="form-check-input" id="existingApplicant" asp-for="ApplicantType" type="radio" value="@ApplicantType.Existing" />
                    <label class="form-check-label" for="existingApplicant">
                        Аз рӯйхат
                    </label>
                </div>
                <div class="form-check-inline">
                    <input class="form-check-input" id="newApplicant" asp-for="ApplicantType" type="radio" value="@ApplicantType.New" />
                    <label class="form-check-label" for="newApplicant">
                        Ариза/дигар
                    </label>
                </div>
                <span asp-validation-for="ApplicantType" class="text-danger"></span>
            </div>

            <div class="form-group"
                 id="existingApplicantGroup"
                 style="display: @(Model.ApplicantType == ApplicantType.Existing ? null : "none")">
                <label asp-for="ApplicantId" class="control-label"></label>
                <select class="form-control selectpicker"
                        title="Ҷустуҷу..."
                        asp-for="ApplicantId"
                        data-show-subtext="true"
                        data-live-search="true"
                        asp-items="ViewBag.Applicants">
                    <option></option>
                </select>
            </div>

            <div class="form-group" id="newApplicantGroup"
                 style="display: @(Model.ApplicantType == ApplicantType.New ? null : "none")">
                <label asp-for="ApplicantName" class="control-label"></label>
                <input asp-for="ApplicantName" class="form-control" />
                <span asp-validation-for="ApplicantName" class="text-danger"></span>
            </div>

            <div class="form-group" id="purposeType">
                <div class="form-check-inline">
                    <input class="form-check-input" id="existingPurpose" asp-for="PurposeType" type="radio" value="@PurposeType.Existing" />
                    <label class="form-check-label" for="existingPurpose">
                        Аз рӯйхат
                    </label>
                </div>
                <div class="form-check-inline">
                    <input class="form-check-input" id="newPurpose" asp-for="PurposeType" type="radio" value="@PurposeType.New" />
                    <label class="form-check-label" for="newPurpose">
                        Дигар
                    </label>
                </div>
                <span asp-validation-for="PurposeType" class="text-danger"></span>
            </div>

            <div class="form-group" id="existingPurposeGroup"
                 style="display: @(Model.PurposeType == PurposeType.Existing ? null : "none")">

                <label asp-for="PurposeId" class="control-label"></label>
                <select class="form-control selectpicker" asp-for="PurposeId" id="PurposeId"
                        title="Ҷустуҷӯ..."
                        data-show-subtext="true"
                        data-live-search="true"
                        asp-items="ViewBag.Purposes">
                    <option></option>
                </select>
                <span asp-validation-for="PurposeName" class="text-danger"></span>
            </div>

            <div class="form-group" id="newPurposeGroup"
                 style="display: @(Model.PurposeType == PurposeType.New ? null : "none")">
                <label asp-for="PurposeName" class="control-label"></label>
                <input asp-for="PurposeName" class="form-control" />
                <span asp-validation-for="PurposeName" class="text-danger"></span>
            </div>
            <!--<div class="col-md-4">
        @foreach (var purpose in ViewBag.Purposes.Items)
        {
            <input type="hidden" value="@purpose.Character" id="hidden_@purpose.Id"/>
        }
        <label asp-for="PurposeId" class="control-label">Ҳарфи муроҷиат</label>
        <input class="form-control" readonly="readonly" id="purposeCharacter"/>
    </div>-->


            <div class="form-group form-row">
                <div class="col-md-4">
                    <label class="control-label" asp-for="Appointment.Character"></label>
                    <select class="form-control" asp-for="Appointment.Character" asp-items="Html.GetEnumSelectList<AppointmentCharacters>()">
                        <option selected="selected" value=""></option>
                    </select>
                    <span asp-validation-for="Appointment.Character" class="text-danger"></span>
                </div>
                <div class="col-md-8">
                    @if (Model.Appointment?.Id != Guid.Empty && Model.Appointment?.DocumentId != Guid.Empty)
                    {
                        <input type="hidden" asp-for="Appointment.Id" />
                        <input type="hidden" asp-for="Appointment.DocumentId" />
                    }
                    <label asp-for="Appointment.Number" class="control-label"></label>
                    <input asp-for="Appointment.Number" class="form-control" />
                    <span asp-validation-for="Appointment.Number" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="StatusId" class="control-label"></label>
                <select class="form-control" asp-for="StatusId"
                        disabled="@(isAdminOrManager ? null : "disabled")"
                        asp-items="ViewBag.Statuses">
                    <option></option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="VisaId" class="control-label"></label>
                <input asp-for="VisaId" class="form-control" type="text" />
                <span asp-validation-for="VisaId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VisaTypeId" class="control-label"></label>
                <select class="form-control" asp-for="VisaTypeId"
                        asp-items="ViewBag.VisaType">
                    <option></option>
                </select>
                <span asp-validation-for="VisaTypeId" class="text-danger"></span>
            </div>
            <div class="form-group form-row">
                <div class="col-md-4">
                    <label class="control-label" asp-for="VisaDateTypeId"></label>
                    <select class="form-control" asp-for="VisaDateTypeId" asp-items="ViewBag.VisaDateType">
                        <option value=""></option>
                    </select>
                    <span asp-validation-for="VisaDateTypeId" class="text-danger"></span>
                </div>
                <div class="col-md-8">
                    <label asp-for="VisaDate" class="control-label"></label>
                    <input asp-for="VisaDate" class="form-control" type="number" min="1" max="30" />
                    <span asp-validation-for="VisaDate" class="text-danger" id="textChange"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <textarea asp-for="Description" class="form-control"> </textarea>
                <span asp-validation-for="Description" class="text-danger" id="textChange"></span>
            </div>

            <div class="form-group">
                <p>Cкан</p>
                <input type="file" class="form-control-file" disabled="@(isAdminOrManager ? null : "disabled")" name="files" multiple>
            </div>

            <div class="form-group">
                <label class="control-label">Ҳуҷҷатҳо</label>
                <div class="list-group">
                    @Html.EditorFor(x => x.ScannedFiles)
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Илова намудан" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-default">Бекор</a>
            </div>
        </form>
    </div>
    <div class="col-md-4"></div>
</div>

<div>

</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
        await Html.RenderPartialAsync("_DocumentScriptsPartial");
    }
}