@model DocumentProcessing.ViewModels.DocumentListViewModel

@{
    ViewData["Title"] = "PreView";
}

<h1>Пешнамоиш</h1>
<hr>
<div class="container">
    <div class="card col-md-12">
        <br>
        <h4>Ҳуҷҷат</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Date)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Date)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Applicant)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Applicant)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.EntryNumber)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.EntryNumber)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Purpose)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Purpose)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Appointment)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Appointment)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Status)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Status)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Recipient)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Recipient)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.VisaId)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.VisaId)
            </dd>

            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.VisaDateType)  
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.VisaDate)   @Html.DisplayFor(model => model.VisaDateType)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.VisaType)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.VisaType)
            </dd>
            
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Description)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Description)
            </dd>
        </dl>
    </div>
</div>
